<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text" >
                <div class="row">
                    <div class="col s4">
                        <form  #employeeForm="ngForm" >
                            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employeeService.selectedEmployee.id">  
                            <div class="row">
                                <div class="input-field col s6">
                                    <input placeholder="First Name" id="first_name" type="text" class="validate" name="FirstName" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.firstName" required>
                                    <label>First Name : 
                                        <label class="red-text">*</label>
                                    </label>
                                </div>
                                
                                <div class="input-field col s6">
                                        <input placeholder="Last Name" id="last_name" type="text" class="Lastname" name="LastName" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.lastName">
                                        <label>Last Name :</label>
                                </div>

                                <div class="input-field col s12">
                                        <input placeholder="Desgination" id="Desgination" type="text" class="Desgination" name="Desgination" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.desgination" required>
                                        <label>Desgination:</label>
                                </div>

                                <div class="input-field col s6">
                                        <input placeholder="Emailid" id="Emailid" type="email" class="validate" name="Emailid" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.emailId" required >
                                        <label for="email">Emailid:</label>
                                </div>

                                <div class="input-field col s6">
                                        <input placeholder="Phoneno" id="Phoneno" type="number" class="validate" name="Phoneno" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.phoneNo" required>
                                        <label>Phoneno:</label>
                                </div>

                                <div class="input-field col s12">
                                        <input placeholder="AddressLine1" id="AddressLine1" type="text" class="AddressLine1" name="AddressLine1" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.addressLine1">
                                        <label>AddressLine1:</label>
                                </div>

                                <div class="input-field col s12">
                                        <input placeholder="AddressLine2" id="AddressLine2" type="text" class="AddressLine2" name="AddressLine2" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.addressLine2">
                                        <label>AddressLine2:</label>
                                </div>

                                <div class="input-field col s12">
                                        <input placeholder="AddressLine3" id="AddressLine3" type="text" class="AddressLine3" name="AddressLine3" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.addressLine3">
                                        <label>AddressLine3:</label>
                                </div>

                                <div class="input-field col s4">
                                        <input placeholder="City" id="City" type="text" class="City" name="city" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.city">
                                        <label>City:</label>
                                </div>

                                <div class="input-field col s4">
                                        <input placeholder="State" id="State" type="text" class="State" name="State" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.state">
                                        <label>State:</label>
                                </div>

                                <div class="input-field col s4">
                                        <input placeholder="Pincode" id="Pincode" type="number" class="Pincode" name="Pincode" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.pincode">
                                        <label>Pincode:</label>
                                </div>

                                <div class="input-field col s6">
                                    <button class="btn btn-custom col s12" type="button" [disabled]=(!employeeForm.valid) (click)="onSubmit(employeeForm)">Submit</button>
                                </div>

                                <div class="input-field col s6">
                                    <button class="btn btn-custom col s12" type="button" (click)="resetForm(employeeForm)">Reset</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    
                    <div class="datatabel">
                        <table class="responsive-table  teal darken-2">
                            <thead>
                                <tr>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Desgination</th>
                                    <th>Emailid</th>
                                    <th>Phoneno</th>
                                    <th>AddressLine1</th>
                                    <th>AddressLine2</th>
                                    <th>AddressLine3</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Pincode</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr *ngFor="let empData of employeeService.employees">
                                
                                <td>{{ empData.FirstName}}</td>
                                <td>{{ empData.LastName}}</td>
                                <td>{{ empData.Desgination }}</td>
                                <td>{{ empData.Emailid }}</td>
                                <td>{{ empData.Phoneno }}</td>
                                <td>{{ empData.AddressLine1 }}
                                <td>{{ empData.AddressLine2 }}
                                <td>{{ empData.AddressLine3 }}
                                <td>{{ empData.city }}</td>
                                <td>{{ empData.State }}</td>
                                <td>{{ empData.Pincode }}</td>  
                                <td>
                                    <a class="action-btn" (click)="onEdit(empData)">
                                            <button class="material-icons">edit</button>
                                    </a> 
                                    <a class="action-btn" (click)="onDelete(empData._id, employeeForm)">
                                            <button class="material-icons">delete</button>
                                    </a>     
                                  </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
